/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/*Пользовательские стили*/

body{
  background-color:lightgrey;
  color: white;
}

.menu {
  list-style-type: none;
  padding-inline-start: 0px;
  text-transform: uppercase;
  font-weight: bolder;
}

li {
  display: inline-block;
  padding-inline-end: 20px;
}

a:-webkit-any-link {
  color: white;
  text-decoration: white;
}

.userlist,
.footer,
.projectlist,
.todolist,
.menu {
  padding-top: 1em;
  padding-bottom: 1em;
  margin-left: 5%;
  background-color: grey;
  width: 90%;
  text-align: center;
}
